lxml>=5.2.1
scrapy>=2.13.0
scrapy-redis>=0.9.1
scrapy-playwright>=0.0.44
scrapy-rotating-proxies>=0.6.2
redis==6.4.0
prometheus-client>=0.23.0
trafilatura>=1.12.0
pydantic>=2.11.0
psycopg2-binary>=2.9.10
PyYAML>=6.0
itemadapter>=0.12.0
